In [11]:
import os
import csv
import pandas as pd
import missingno as msno
import matplotlib.pyplot as plt
import numpy as np
import requests
from scipy.stats import linregress

#covid_df = pd.read_csv("owid-covid-data.csv", dtype="object", encoding="utf-8")

#covid_df = pd.read_csv("owid-covid-data.csv", dtype="object", encoding="utf-8")
#covid_df.index = pd.to_datetime(covid_df['date'],format='%y/%m/%d')
#covid_df.groupby(by=[covid_df.index.month, covid_df.index.year])

#covid_df.groupby(pd.Grouper(freq='M')) 
#covid_df.head()

df = pd.read_csv("owid-covid-data.csv", dtype="object", encoding="utf-8")
df["date"] = pd.to_datetime(df['date'])
df

,iso_code,continent,location,month,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,02-2020,2020-02-24,1,1,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,02-2020,2020-02-25,1,0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,02-2020,2020-02-26,1,0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,02-2020,2020-02-27,1,0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,02-2020,2020-02-28,1,0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59314,ZWE,Africa,Zimbabwe,01-2021,2021-06-01,17804,610,597,431,13,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
59315,ZWE,Africa,Zimbabwe,01-2021,2021-07-01,18675,871,686.857,446,15,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
59316,ZWE,Africa,Zimbabwe,01-2021,2021-08-01,19660,985,796.571,468,22,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
59317,ZWE,Africa,Zimbabwe,01-2021,2021-09-01,20499,839,858.286,483,15,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
59318,ZWE,Africa,Zimbabwe,01-2021,2021-10-01,21477,978,887.429,507,24,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535

In [12]:
cleancovid= df[["continent", "location", "date", "total_cases","total_deaths","gdp_per_capita", "hospital_beds_per_thousand", "new_cases", "median_age", "population", "aged_65_older", "aged_70_older","total_tests" ]]
cleancovid

,continent,location,date,total_cases,total_deaths,gdp_per_capita,hospital_beds_per_thousand,new_cases,median_age,population,aged_65_older,aged_70_older,total_tests
0,Asia,Afghanistan,2020-02-24,1,NaN,1803.987,0.5,1,18.6,38928341,2.581,1.337,NaN
1,Asia,Afghanistan,2020-02-25,1,NaN,1803.987,0.5,0,18.6,38928341,2.581,1.337,NaN
2,Asia,Afghanistan,2020-02-26,1,NaN,1803.987,0.5,0,18.6,38928341,2.581,1.337,NaN
3,Asia,Afghanistan,2020-02-27,1,NaN,1803.987,0.5,0,18.6,38928341,2.581,1.337,NaN
4,Asia,Afghanistan,2020-02-28,1,NaN,1803.987,0.5,0,18.6,38928341,2.581,1.337,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59314,Africa,Zimbabwe,2021-06-01,17804,431,1899.775,1.7,610,19.6,14862927,2.822,1.882,236530
59315,Africa,Zimbabwe,2021-07-01,18675,446,1899.775,1.7,871,19.6,14862927,2.822,1.882,NaN
59316,Africa,Zimbabwe,2021-08-01,19660,468,1899.775,1.7,985,19.6,14862927,2.822,1.882,NaN
59317,Africa,Zimbabwe,2021-09-01,20499,483,1899.775,1.7,839,19.6,14862927,2.822,1.882,NaN
59318,Africa,Zimbabwe,2021-10-01,21477,507,1899.775,1.7,978,19.6,14862927,2.822,1.882,NaN

In [27]:
covid_clean = cleancovid.dropna()
covid_clean = covid_clean.copy()

In [28]:
#covid_clean.groupby(by=['location','date']).sum()
#covid_clean.loc[covid_clean'location','date'==2020-12-31].sum()

covid_clean['year'] = covid_clean['date'].dt.year
covid_clean['month'] = covid_clean['date'].dt.month

covid_clean

,continent,location,date,total_cases,total_deaths,gdp_per_capita,hospital_beds_per_thousand,new_cases,median_age,population,aged_65_older,aged_70_older,total_tests,year,month
1934,South America,Argentina,2020-08-03,12,1,18933.907,5,4,31.9,45195777,11.198,7.441,157,2020,8
1935,South America,Argentina,2020-09-03,12,1,18933.907,5,0,31.9,45195777,11.198,7.441,170,2020,9
1936,South America,Argentina,2020-10-03,17,1,18933.907,5,5,31.9,45195777,11.198,7.441,206,2020,10
1937,South America,Argentina,2020-11-03,19,1,18933.907,5,2,31.9,45195777,11.198,7.441,237,2020,11
1938,South America,Argentina,2020-12-03,19,1,18933.907,5,0,31.9,45195777,11.198,7.441,281,2020,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59310,Africa,Zimbabwe,2021-02-01,14491,377,1899.775,1.7,407,19.6,14862927,2.822,1.882,221767,2021,2
59311,Africa,Zimbabwe,2021-03-01,15265,380,1899.775,1.7,774,19.6,14862927,2.822,1.882,225080,2021,3
59312,Africa,Zimbabwe,2021-04-01,15829,384,1899.775,1.7,564,19.6,14862927,2.822,1.882,226954,2021,4
59313,Africa,Zimbabwe,2021-05-01,17194,418,1899.775,1.7,1365,19.6,14862927,2.822,1.882,231834,2021,5
59314,Africa,Zimbabwe,2021-06-01,17804,431,1899.775,1.7,610,19.6,14862927,2.822,1.882,236530,2021,6

In [15]:
#covidc=covid_clean['total_cases'].astype(str)
#covidc=covidc['total_cases'].astype(int)
covid = pd.DataFram
summarystat_df["Tumor Vol. Median"] = pd.DataFrame(combined_data_df.groupby("Drug Regimen")["Tumor Volume (mm3)"].median())

KeyError: 'total_cases'

In [16]:
covid_clean.groupby(by=['location','month']).sum()

KeyError: 'month'

In [17]:
msno.matrix(covid_df)

NameError: name 'covid_df' is not defined

In [18]:
covid_df.describe()

NameError: name 'covid_df' is not defined

In [19]:
covid_df.dtypes

NameError: name 'covid_df' is not defined

In [ ]:
covid_df['location'] = covid_df['location'].astype(str)
covid_df['total_cases'] = pd.to_numeric(covid_df['total_cases'],errors='coerce')

In [ ]:
cleancovid= covid_df[["continent", "location", "date", "total_cases","total_deaths","gdp_per_capita", "hospital_beds_per_thousand", "new_cases", "median_age", "population", "aged_65_older", "aged_70_older","total_tests" ]]
cleancovid

In [ ]:
covid_clean = cleancovid.dropna()
covid_clean

In [ ]:
grouped=cleancovid.groupby(cleancovid['date'])
grouped.groupby(grouped.date.dt.month)

In [ ]:
grouped.plot.scatter(x='location',
                      y='total_cases', c='Blue', fig=5)

In [ ]:
covid_df['total_deaths'] = pd.to_numeric(covid_df['total_deaths'],errors='coerce')
covid_df['hospital_beds_per_thousand'] = pd.to_numeric(covid_df['hospital_beds_per_thousand'],errors='coerce')

In [ ]:
second = covid_df.dropna(subset=['total_deaths', 'hospital_beds_per_thousand'])

In [ ]:
second.plot.bar(x='total_deaths', y='hospital_beds_per_thousand')